* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", "sans-sefir";
  color: black;
}

button, a{
  font-size: 16px;
}

.container {
  padding: 24px;
  min-height: 85vh;
}
